<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Register Here!</h1>

    <form class="" action="/welcome" method="POST">

      <label for="usrname">User Name:</label>
      <input id="usrname" type="text" name="usrname" value=""><br>
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" value=""><br>
      <label for="phno">Phone Number:</label>
      <input id="phno" type="number" name="phno" value=""><br>
      <button type="submit">Register</button>

    </form>
  </body>
</html>
